/* Grundläggande styling och typografi */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color:#1E1E1E;
  color: #FFF;
  font-family: "IM Fell English", serif;
  font-weight: 400;
  font-style: normal;
}

/* Grundläggande länkstyling */
a {
  color: #FFF;
  text-decoration: none;
}

a:hover {
  color: orange;
}

/* Screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

i {
  font-weight: 400;
  font-size: 1.2rem;
  font-style: italic;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  text-decoration-thickness: 2px;
}