body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color:#1E1E1E;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 1.5rem;
  }

  .content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding-top: 20%;
    font-family: sans-serif;
  }
  .logopic{
  display:flex;
  justify-content:center;
  width:200px;
  height:auto;
  margin:0 auto;
  }

  .logopic img {
  width: 100%;
  height: auto;
  }

  nav {
    display:flex;
    justify-content:center;
    align-items:center;
    top:0.3rem;
    left:0.3rem
  }

  nav ul {
    display:flex;
    justify-content:center;
    align-items:center;
    list-style:none;
    margin:0;
    padding:0;
  }

  nav ul li {
    margin:0 1rem;
  }

  nav ul li a {
    color:white;
    text-decoration:none;
    font-size:1.2rem;
  }

  .centered-content {
    text-align:center;
    margin-top:15%;
    font-size:1.2rem;
    font-weight:bold;
    color:white;
    font-family: sans-serif;
  }